*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#111;
color:white;
display:flex;
justify-content:center;
padding:40px;

}

.container{

width:900px;

}

h1{

margin-bottom:20px;

}

.searchBox{

display:flex;
gap:10px;
margin-bottom:30px;

}

input{

flex:1;
padding:15px;
border:none;
border-radius:8px;
font-size:16px;

}

button{

padding:15px 25px;
border:none;
background:#1DB954;
color:white;
font-size:16px;
cursor:pointer;
border-radius:8px;

}

button:hover{

background:#18a84a;

}

#results{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
gap:20px;

}

.card{

background:#222;
padding:15px;
border-radius:12px;
cursor:pointer;
transition:.2s;

}

.card:hover{

transform:translateY(-5px);
background:#333;

}

.card img{

width:100%;
border-radius:10px;

}

.card h3{

margin-top:10px;
font-size:16px;

}

#player{

margin-top:40px;
display:flex;
gap:20px;
align-items:center;
background:#1d1d1d;
padding:20px;
border-radius:15px;

}

#cover{

width:150px;
height:150px;
object-fit:cover;
border-radius:10px;

}

audio{

width:100%;

}

.info{

width:100%;

}
